# Project 3: Sparkify Data Warehouse on AWS

# Test queries on Sparkify DWH on AWS

## Part 1: Run some basic queries to the tables
## Part 2: Run analytics to test the performance of the Sparkity tables


## Connect Sparkify DWH

In [1]:
%load_ext sql

In [2]:
import configparser
import pandas as pd

config = configparser.ConfigParser()
config.read_file(open('dwh-sp.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)


pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param                Value
0        DWH_CLUSTER_TYPE           multi-node
1           DWH_NUM_NODES                    4
2           DWH_NODE_TYPE            dc2.large
3  DWH_CLUSTER_IDENTIFIER  sparkify-dwhCluster
4                  DWH_DB         sparkify_dwh
5             DWH_DB_USER              dwhuser
6         DWH_DB_PASSWORD             Passw0rd
7                DWH_PORT                 5439
8       DWH_IAM_ROLE_NAME              dwhRole

In [3]:
import boto3

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::640555552535:role/dwhRole

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh

'Connected: dwhuser@sparkify_dwh'

## Part 1: Run some basic queries to the tables
  These queries tests the tables and also collect the total count of records.

In [5]:
%%time
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 4.59 ms, sys: 134 Âµs, total: 4.73 ms
Wall time: 172 ms

[(1, 'ARD842G1187B997376', 43.64856, -79.38533, 'Toronto, Ontario, Canada', 'Blue Rodeo', 'SOHUOAP12A8AE488E9', 'Floating', 491.12771, 1987),
 (1, 'AROEL1B1187B988B90', None, None, 'South Jamaica, Queens', 'Lost Boyz', 'SOFHBAR12A6701D0FE', 'Certain Things We Do', 269.7922, 1997),
 (1, 'ARB8Q2P1187FB4D05D', 34.05349, -118.24532, 'Los Angeles, CA', 'Roy Ayers', 'SOOVJEF12A67ADE8D7', 'Long Time Ago', 557.45261, 0),
 (1, 'ARIXKGR1187B99A565', 40.19033, -82.66947, 'Cincinnatti, OH', 'Nadanuf', 'SOLCRQP12A8C13CE2B', 'The Breaks (Album Version)', 246.38649, 1997),
 (1, 'ARAO91X1187B98CCA4', 41.50471, -81.69074, 'Cleveland, Ohio', 'Tracy Chapman', 'SOBYAKJ12AB017C6E2', 'Broken (LP Version)', 259.91791, 2002)]

In [6]:
%%time
%sql SELECT COUNT(*) FROM staging_songs;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 17 Âµs, sys: 3.69 ms, total: 3.71 ms
Wall time: 118 ms

[(14896,)]

In [7]:
%%time
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 5.05 ms, sys: 37 Âµs, total: 5.09 ms
Wall time: 119 ms

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.91138, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 256, 'Almost Lover (Album Version)', 200, Decimal('1541377992796'), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 ('Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 214.77832, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Serve The Servants', 200, Decimal('1541381242796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 238.49751, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'See No Evil  (Remastered LP Version)', 200, Decimal('1541381456796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', 346.43546, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Blues To Bechet (LP Version)', 200, Decimal('1541381694796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 80.79628, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, "It's My Job To Keep Punk Rock Elite", 200, Decimal('1541382040796'), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44)]

In [8]:
%%time
%sql SELECT COUNT(*) FROM staging_events;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 3.58 ms, sys: 0 ns, total: 3.58 ms
Wall time: 119 ms

[(8056,)]

In [9]:
%%time
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 4.04 ms, sys: 589 Âµs, total: 4.63 ms
Wall time: 117 ms

[('ARAFIWJ1187FB38D33', 'Ghostland Observatory', '', nan, nan),
 ('ARW19E01187B9AEB8D', 'Brand New Disaster', 'Richmond, VA', 37.5407, -77.43365),
 ('AREEUN81187B98D69E', 'Efecto Mariposa', 'Madrid, Spain', 40.4203, -3.70577),
 ('ARF8JDZ1187FB37A42', 'O-Zone', '', nan, nan),
 ('ARYE9E71187B9AA1B3', 'Flobots', '', nan, nan)]

In [10]:
%%time
%sql SELECT COUNT(*) FROM artists;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 1.7 ms, sys: 2.17 ms, total: 3.87 ms
Wall time: 120 ms

[(203,)]

In [11]:
%%time
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 186 Âµs, sys: 3.19 ms, total: 3.37 ms
Wall time: 116 ms

[(69, 'Anabelle', 'Simpson', 'F', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (52, 'Theodore', 'Smith', 'M', 'free'),
 (94, 'Noah', 'Chavez', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [12]:
%%time
%sql SELECT COUNT(*) FROM users LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 2.85 ms, sys: 428 Âµs, total: 3.28 ms
Wall time: 117 ms

[(105,)]

In [13]:
%%time
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 3.69 ms, sys: 0 ns, total: 3.69 ms
Wall time: 117 ms

[('2018-11-05T00:33:12.796000', 0, 5, 45, 11, 2018, 0),
 ('2018-11-05T01:27:22.796000', 1, 5, 45, 11, 2018, 0),
 ('2018-11-05T01:30:56.796000', 1, 5, 45, 11, 2018, 0),
 ('2018-11-05T01:34:54.796000', 1, 5, 45, 11, 2018, 0),
 ('2018-11-05T01:40:40.796000', 1, 5, 45, 11, 2018, 0)]

In [14]:
%%time
%sql SELECT COUNT(*) FROM time LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 3.72 ms, sys: 0 ns, total: 3.72 ms
Wall time: 116 ms

[(8023,)]

In [15]:
%%time
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 3.36 ms, sys: 0 ns, total: 3.36 ms
Wall time: 115 ms

[('SOVAEBW12AB0182CE6', 'Mise En Bouche', 'AR756JL1187FB3D3A9', 2002, 246.38649),
 ('SOYDHXP12AB01849D4', 'Good Life', 'AR73S4G1187B9A03C2', 2009, 253.25669),
 ('SOCIGMX12A8C144150', 'My Night With the Prostitute From Marseille', 'ARQOBT71187FB4CCCA', 2007, 185.15546),
 ('SODVXIB12AF72A37F3', 'Settle For A Slowdown', 'AR3FYKL1187FB44945', 2005, 223.242),
 ('SONQEAO12A6D4F8CB3', 'Rozando La Eternidad', 'AR7S2271187FB38B1F', 1989, 211.90485)]

In [16]:
%%time
%sql SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 3.37 ms, sys: 106 Âµs, total: 3.48 ms
Wall time: 115 ms

[(218,)]

In [17]:
%%time
%sql SELECT * FROM songplay LIMIT 5;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 105 Âµs, sys: 3.74 ms, total: 3.85 ms
Wall time: 117 ms

[(0, '2018-11-20T01:08:25.796000', 94, 'free', 'SODLAPJ12A8C142002', 'ARS4WS71187FB3F6AB', 530, 'Ogden-Clearfield, UT', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0'),
 (8, '2018-11-17T14:48:49.796000', 73, 'paid', 'SODLAPJ12A8C142002', 'ARS4WS71187FB3F6AB', 518, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (16, '2018-11-04T07:31:31.796000', 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (24, '2018-11-24T05:04:53.796000', 88, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 888, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (32, '2018-11-28T22:56:08.796000', 73, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [18]:
%%time
%sql SELECT COUNT(*) FROM songplay;

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 118 ms

[(328,)]

## Part 2: Run analytics to test the performance of the Sparkity tables

### 1. What are the songs a certain user play?
       Query should provide Song title, artist name for a given user (first name, last name)

In [19]:
%time
q = ("""
   SELECT sp.session_id, sp.songplay_id, s.title, a.name, u.first_name, u.last_name 
     FROM   songplay  sp 
     JOIN   songs s     ON sp.song_id   = s.song_id 
     JOIN   artists a   ON sp.artist_id = a.artist_id
     JOIN   users u     ON sp.user_id   = u.user_id
    WHERE sp.user_id = 82 
    """)
%sql $q

CPU times: user 3 Âµs, sys: 0 ns, total: 3 Âµs
Wall time: 6.91 Âµs
 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
3 rows affected.

[(1017, 48, "You're The One", 'Dwight Yoakam', 'Avery', 'Martinez'),
 (140, 512, 'Supermassive Black Hole (Album Version)', 'Muse', 'Avery', 'Martinez'),
 (1017, 680, 'Born In Africa', 'Dr. Alban', 'Avery', 'Martinez')]

### 2. How many different songs are played?  

## %sql somehow stop showing the result.  Switch to direct query

In [23]:
from etl import *

In [25]:
cur, conn = connect_DWH_db ('dwh-sp.cfg')

Connect Redshift CLuster sparkify-dwhCluster
host=sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com dbname=sparkify_dwh user=dwhuser password=XXXXX port=5439

In [29]:
%%time
q = ("""
   SELECT DISTINCT sp.song_id, s.title
     FROM   songplay  sp 
     JOIN   songs s     ON sp.song_id   = s.song_id 
     LIMIT 5
    """)
%sql $q

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
5 rows affected.
CPU times: user 4.76 ms, sys: 0 ns, total: 4.76 ms
Wall time: 115 ms

In [30]:
cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

('SOWLLXC12AB0180FFE', 'The Running Man')
('SOYJPKO12A6D4FDCEA', 's.Ada.Licht')
('SOYQYTX12AB0186FFA', 'Bury My Heart')
('SOQDMXT12A6D4F8255', 'Fade To Black')
('SOARTRF12AB0181F4D', 'Por quererte')

In [32]:
%%time
q = ("""
   SELECT DISTINCT COUNT(sp.song_id)
     FROM   songplay  sp 
     JOIN   songs s     ON sp.song_id   = s.song_id 
    """)
%sql $q

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
1 rows affected.
CPU times: user 4.31 ms, sys: 0 ns, total: 4.31 ms
Wall time: 113 ms

In [33]:
cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

(328,)

## 3. What are the top 5 songs played?

In [35]:
%%time
q = ("""
   SELECT COUNT(sp.song_id), s.title
     FROM   songplay  sp 
     JOIN   songs s     ON sp.song_id   = s.song_id
     GROUP by s.title 
     ORDER by COUNT(sp.song_id) 
     LIMIT 10
    """)

cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

 * postgresql://dwhuser:***@sparkify-dwhcluster.cdgmk37ewlxc.us-west-2.redshift.amazonaws.com:5439/sparkify_dwh
10 rows affected.
(1, "Driver's Seat")
(1, 'Subterranean Homesick Alien')
(1, 'Rozando La Eternidad')
(1, 'Always Will (LP Version)')
(1, 'Baja por diversion (directo 05)')
(1, 'Eriatarka')
(1, 'Marigold')
(1, 'Shiny & New')
(1, 'Stranger Lover')
(1, 'Bury My Heart')
CPU times: user 6.53 ms, sys: 85 Âµs, total: 6.61 ms
Wall time: 168 ms

cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

In [ ]:
%%time
q = ("""
   SELECT COUNT(sp.song_id), s.title
     FROM   songplay  sp 
     JOIN   songs s     ON sp.song_id   = s.song_id
     GROUP by s.title 
     ORDER by COUNT(sp.song_id) 
     LIMIT 10
    """)
cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

In [33]:
cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

(328,)

#### Well, this is simulated data.

### 4. Who are some of the most frequent users?
   Find users (first name, last name) that plays in the most sessions, and most songs, separately.

In [39]:
%%time

q = ("""
   SELECT COUNT(sp.session_id), (u.first_name || ' ' || u.last_name) as name
     FROM   songplay  sp 
     JOIN   users u     ON sp.user_id   = u.user_id
     GROUP by name
     ORDER by COUNT(sp.session_id) 
     LIMIT 10
    """)
cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

(1, 'Ryan Smith')
(1, 'Cecilia Owens')
(1, 'Jayden Bell')
(1, 'Jordyn Powell')
(1, 'Ayleen Wise')
(1, 'Noah Chavez')
(1, 'Anabelle Simpson')
(1, 'Kynnedi Sanchez')
(1, 'Sienna Colon')
(1, 'Morris Gilmore')
CPU times: user 1.57 ms, sys: 227 Âµs, total: 1.8 ms
Wall time: 4.04 s

### 5. Which artist is most popular among our users?
   Find artist name, how many times their songs were played.   List top 5.

In [44]:
%%time

q = ("""
   SELECT COUNT(sp.songplay_id), a.name
     FROM   songplay  sp 
     JOIN   artists a     ON sp.artist_id   = a.artist_id
     GROUP by a.name
     ORDER by COUNT(sp.songplay_id) 
     LIMIT 5
    """)
cur.execute(q)
rows = cur.fetchall()
for r in rows:   print(r)

(1, 'La Fuga')
(1, 'Fergie')
(1, 'Hooligans')
(1, 'Starting Rock Feat. Diva Avari')
(1, '12 Stones')
CPU times: user 1.45 ms, sys: 0 ns, total: 1.45 ms
Wall time: 2.3 s